doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-2.1.0.js')
        script(src='/javascripts/webrtc.io.js')
        script(src='/javascripts/peer.js')
        script(src='/javascripts/client.js')
    body
        form
            div.left
                div.log
                div.input
                    input(placeholder='Enter your message here...')
                    button Send
            div.right
                ul.users